*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Segoe UI,sans-serif;
}

body{
background:#f4f7fc;
}

.forgot-container{
min-height:100vh;
display:flex;
justify-content:center;
align-items:center;
padding:20px;
background:linear-gradient(135deg,#2563eb,#1e40af);
}

.forgot-card{
width:100%;
max-width:450px;
background:#fff;
padding:40px;
border-radius:20px;
box-shadow:0 10px 30px rgba(0,0,0,.15);
text-align:center;
}

.icon{
width:80px;
height:80px;
margin:auto;
border-radius:50%;
background:#dbeafe;
display:flex;
justify-content:center;
align-items:center;
font-size:35px;
margin-bottom:20px;
}

.forgot-card h2{
margin-bottom:10px;
color:#1f2937;
}

.forgot-container .forgot-card p{
color:#6b7280;
margin-bottom:25px;
line-height:1.6;
}

.forgot-container form{
text-align:left;
}

.forgot-container label{
display:block;
margin-bottom:8px;
font-weight:600;
}

.forgot-container input{
width:100%;
padding:14px;
border:1px solid #d1d5db;
border-radius:10px;
margin-bottom:20px;
outline:none;
font-size:15px;
}

.forgot-container input:focus{
border-color:#2563eb;
}

.forgot-container button{
width:100%;
padding:14px;
background:#2563eb;
color:white;
border:none;
border-radius:10px;
font-size:16px;
font-weight:600;
cursor:pointer;
transition:.3s;
}

.forgot-container button:hover{
background:#1d4ed8;
}

.forgot-container a{
display:block;
margin-top:20px;
text-decoration:none;
color:#2563eb;
font-weight:600;
}

.forgot-container a:hover{
text-decoration:underline;
}